#github "Skyscanner/SkyFloatingLabelTextField"
#github "ReactiveX/RxSwift" ~> 5.0

#github "SwiftyBeaver/SwiftyBeaver"
#github "mxcl/PromiseKit" ~> 6.8
#github "ReSwift/ReSwift"
#github "tristanhimmelman/ObjectMapper" ~> 4.0
#github "Alamofire/Alamofire" ~> 5.2
#github "WenchaoD/FSCalendar"
#github "danielgindi/Charts" ~> 3.5.0
#github "jonkykong/SideMenu" ~> 6.0
#github 	"garnele007/SwiftOCR"
#github "gali8/Tesseract-OCR-iOS"
github "realm/realm-cocoa"